.center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


header{
min-height: 54px;
background-image: url(https://i.ibb.co/XtSWNCJ/pexels-nothing-ahead-6564832.jpg);
background-position: center;
background-size: cover;
}
header nav {
    /* border: 1px solid black; */
    /* display: flex; */
    margin: auto !important;   
}

header nav li{
    transition: 1000ms;
    padding: 3px !important;
    cursor: pointer; 
}

header nav li{
    list-style: none;
    /* border: 1px solid rgba(0, 0, 0, 0.296); */
    padding: 0px 18px;
    margin: 0px 4px;
    border-radius: 12px;
    border: 3px solid rgba(0, 0, 0, 0.175);
    transition: 1000ms;
    background: white;
}

header nav ul li:hover{
    transform: scale(1.,1.);
    color: white !important;
    background: rgba(135, 207, 235, 0.712);
    font-weight: 800;
    text-decoration: none;
}

header nav ul li a{
    font-size: 0.8em;
    color: black;
    font-weight: 800;
    text-decoration: none;
    font-style: none;
}

header .logo h6{
    color: #0d6efd;
}
.row .article{
  min-width: 226px;
  min-height: 232px;
}
.pics{
  transition: 1000ms;
}

.pics:hover{
  background: #eeee;
  box-shadow: 5px 5px 15px 5px #000000;
}

main{
  height: 1000px !important;  
}
  
footer {
  background-image: url(https://i.ibb.co/sQbn0C0/pexels-monstera-7412086.jpg);
  background-position: center;
  background-size: cover;
  height: 150px !important;
  margin-top: 32px;
}

footer .fa{
  transition: 1000ms;
}

footer .fa:hover{
  transform: scale(1.1);
  color: black;
}



@media (max-width: 768px) {
    header{
      height:  95px;
    }
 header nav ul{
    font-size: 0.71em;
    padding: 0px;
    
 }
 header nav ul li a{
    font-size: 0.8em;
    color: blue;
 }
 header nav ul li {
  background: none;
  
  border:none;
}

header nav ul li:hover {
  background: none;
  background: blanchedalmond;
  border:none;
}

header .isr{
  width: 75%;
}

header .usa{
  width: 66%;
}
header .th{
  width: 47%;
}
header .fra{
  width: 50%;
}
header .uk{
  width: 72%;
}

 header .logo{
    display: none;
 }

 main{
  height: 1700px !important;
  margin-top: 32px;
}
 footer{
  font-size: 0.8em;
  text-align: center;
 }

  }
 
  
 
  





