body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(https://i.ibb.co/wKSJ6Pm/pexels-pixabay-220201.jpg);
    background-position: center;
    background-size: cover;
   
}
.center{
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
}

.box{
border-radius: 12px;
background: #EEEEEE;
}

header nav ul li a{
    text-decoration: none;
}

article{
    max-width: 800px ;
}

img{
    max-width: 383px;
    max-height: 279px;
}



